@import
  "utils/vars";

@import "vendors/normalize";

@import 
  "components/switcher",
  "components/button",
  "components/sorter",
  "components/popup";

@import 
  "layout/page-header",
  "layout/navigation",
  "layout/collections",
  "layout/card",
  "layout/rating",
  "layout/content",
  "layout/statistics",
  "layout/table";

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background: $background-color; 
}

.app-wrapper {
  padding-bottom: 40px;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

.hidden {
  display: none ;
}

.blocked {
  opacity: .5;
}

@media (max-width: 1439px) {
  .container {
    max-width: 1000px;
  }  
}

@media (max-width: 1020px) {
  .container {
    max-width: 680px;
  }  
}

@media (max-width: 730px) {
  .container {
    max-width: 360px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 300px;
  }   
}