// Font
$mainFont                : "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #303030;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Main color
$default-color           : #ffffff;
$main-color              : rgb(144, 118, 192);
// #006767;
$button-color            : #ffc80a;
$button-color-train      : #23b65e;
$button-color-play       : #ffde1f;
$background-light        : #e8e9ed;
$background-blue         : #93b6b7;
$color-red               : #f9593a;
$color-red-2             : #d93e00;
$color-blue              : #51b9bc;
$color-grey              : #8c9dac;
$color-green-2           : #b6d158;
$color-dark-blue         : #2a5cb9;
$color-blue-3            : #45c5f0; 
// #43a8ab; color-blue-dark
$color-green             : #90af00;
$color-pink              : #d0305f;
$color-yellow            : #ffde1f;
$color-orange            : #fb8414;
$color                   : #4b99de;
$background-blue-2       : #c7d9d9;
$background-light-2      : #e7e7e7;
$color-white             : #fafafa;
$color-pink-2            : #ce2939;
$color-purple            : rgb(144, 118, 192);

$background-color        : RGB(239, 242, 251);
$c                       : RGB(253, 63, 29);
$c1                      : RGB(107, 107, 255);
$c2                      : RGB(169, 226, 36);
$c3                      : RGB(5, 193, 238);
$c4                      : RGB(254, 211, 34);

// Border Color
$border-base            : #f2f2f4;

// color block
$color-1                : RGB(122, 82, 179);
$color-2                : RGBA(244, 67, 54, 1);
$color-3                : RGBA(233, 30, 99, 1);
$color-4                : RGBA(138, 74, 243, 1);
$color-5                : RGBA(103, 58, 183, 1);
$color-6                : RGBA(63, 81, 181, 1);
$color-7                : RGBA(33, 150, 243, 1);
$color-8                : rgba(3, 169, 244, 1);
$color-9                : rgba(0, 188, 212, 1);
$color-10               : rgba(0, 150, 136, 1);
$color-11               : rgba(76, 175, 80, 1);
$color-12               : rgba(139, 195, 74, 1);
$color-13               : rgba(205, 220, 57, 1);
$color-14               : rgba(255, 235, 59, 1);
$color-15               : rgba(255, 193, 7, 1);
$color-16               : rgba(255, 87, 34, 1);
$color-17               : RGB(75, 29, 138);
$color-18               : RGB(52, 21, 97);
