.page-header {
  background: $default-color;
  position: fixed;
  position: sticky;
  width: 100%;
  top: -1px;  
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 5;
}

.page-header__button {
  width: 25px;
  height: 20px;
  top: 26px;
  left: 20px;
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat;
  z-index: 15;
  transition: transform 0.7s;  
}

.page-header__button--menu-open {
  position: relative;
  z-index: 15;  
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/close.svg");
  transform: rotate(-90deg);
}

.page-header__navigation {  
  width: 380px;
  height: 100vh;
  background: $color-blue;
  position: fixed;
  z-index: 10;
  padding: 0;
  margin: 0;
  padding: 100px 50px 20px 80px;
  top: 0;
  left: 0;
  display: none;  
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.page-header__navigation--open {
  display: block;
}

.page-header__buttons-wrapper {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}

.page-header__title {
  padding-left: 74px;
  font-size: 1.8em;
}

.page-header___switcher-wrapper {
  font-size: 0;
  line-height: 0;
}

@media (max-width: 740px) {
  .page-header {
    padding-top: 15px;
  }

  .page-header__navigation {
    width: 80vw;
    padding: 80px 20px 20px;
  }

  .page-header__buttons-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .page-header__button { 
    padding-right: 0;
    margin-right: auto;
    order: 1;
  }

  .page-header___switcher-wrapper {
    margin-left: auto;
    order: 2;
  }
  
  .page-header__title {
    order: 3;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 0;
  }  
}

@media (max-width: 425px) {
  .page-header {
    padding-top: 15px;
  }

  .page-header__navigation {
    width: 80vw;
    padding: 80px 20px 20px;
  }
}  

@media (max-width: 375px) {
  .page-header__buttons-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }   
}

@media (max-width: 320px) {
  .page-header__navigation {
    width: 100vw;
  }
}
